.consolebody {
    background-image:url(Pictures/bg.png);
    background-size:85%; 
    background-repeat:no-repeat;
    background-position: top left;
}

a {
    font-size: 180%;
    color: lawngreen;
}

input[type=text] {
    background-color: black;
    color: lawngreen;
    border: none;
    font-size: 180%;
    
}

button {
    border: none;
    background-color: black;
    color: lawngreen;
    font-size: 180%;
}

.console {
    position: relative;
    float:left;
    margin-left: 11%;
    margin-top: 5%;
    resize: both;
}
