.title {
    text-align: center;
    padding-top: 15%;
    font-size: 100;
    margin: 0;
}

.menuitem {
    text-align: center;
    font-size: 31; 
    margin: 0;
}

ul {
    list-style-type:none;
}

body {
  animation: colorchange 5s; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 5s; /* Chrome and Safari */
    
  background-color: black; /*this doesnt work*/
}

@keyframes colorchange
{
    0%   {background: white;}
    10%  {background: #ededed;}
    20%  {background: #dbdbdb;}
    30%  {background: #c1c1c1;}
    40%  {background: #bcbcbc;}
    50%  {background: #9b999b;}
    60%  {background: #878587;} 
    70%  {background: #777777;}
    80%  {background: #5b5b5b;}
    90%  {background: #3a3a3a;}
    100% {background: #000000;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
    0%   {background: white;}
    10%  {background: #ededed;}
    20%  {background: #dbdbdb;}
    30%  {background: #c1c1c1;}
    40%  {background: #bcbcbc;}
    50%  {background: #9b999b;}
    60%  {background: #878587;} 
    70%  {background: #777777;}
    80%  {background: #5b5b5b;}
    90%  {background: #3a3a3a;}
    100% {background: #000000;}
}