body {
    background-size:85%; 
    background-repeat:no-repeat;
    background-position: top left;
    background-color: black;
    font-family: 'VT323', monospace;
}

a {
    color: lawngreen;
}

.title {
    font-size: 200%;
    margin-right: 30%;
}

p {
    color: lawngreen;
    margin:auto;
    padding-bottom: 0;
}

.toys {
    margin-right: 55%;
}

.bio {
    margin-right:49%;
}

h1 {
    color: lawngreen;
    margin: 0;
    margin-right: 30%;
    padding-bottom: 0;
}

.sc a {
    padding-left: 10%;
}

.console {
    font-size: 170%;
    position: relative;
    float:left;
    resize: both;
    
}

.console button {
    border: none;
    background: none;
    padding-left: 20%;
    font-size: 70%;
    color: lawngreen;
}

.game {
    padding-left: 5%;
}

